@use "tailwindcss";
@use "tailwindcss/theme";
// @use "tw-animate-css";

:root {
  --background: #f8f4ff;
  --foreground: #120b1c;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #120b1c;
    --foreground: #f8f4ff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  @apply antialiased;
}

h1 {
}