@use "tailwindcss";
@use "tailwindcss/theme";
@import "https://unpkg.com/open-props/durations.min.css";
// @use "tw-animate-css";

:root {
  --background: #f8f4ff;
  --foreground: #120b1c;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #120b1c;
    --foreground: #f8f4ff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  @apply antialiased;
}

h1 {
}

// Custom classes
.gradient-background {
  background: linear-gradient(-45deg, rgba(238, 119, 82, 0.1), rgba(231, 60, 126, 0.1), rgba(35, 166, 213, 0.1), rgba(35, 213, 171, 0.1));
	background-size: 400% 400%;
	animation: gradient-animation 15s ease-in-out infinite;
	height: 100vh;
}

// Animations
@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}